<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="YouTrack API Suite" parallel="classes" thread-count="3">

    <test name="YouTrack Execution">
        <groups>
            <dependencies>
                <group name="positive" depends-on="auth"/>
                <group name="negative" depends-on="auth"/>
            </dependencies>
        </groups>

        <packages>
            <package name="alexander.sergeev.qa.tests.*"/>
        </packages>
    </test>

</suite>